.container {
  width: 100%;

  ul {
    list-style: none;
    padding: 0;

    li a {
      background-color: var(--pink-dark);
      border-radius: var(--border-radius);
      width: 100%;
      padding: var(--spacing-s);
      display: block;
      color: #fff;
      text-decoration: none;

      &:not(first-child) {
        margin-top: var(--spacing-s);
      }
    }
  }
}

.outerContainer {
  display: flex;
  padding: var(--spacing);
  align-items: center;
  justify-content: center;
}
