.questions {
  position: relative;
  padding: var(--spacing-s);
  margin-top: var(--spacing);
  height: 550px;

  .question {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: var(--spacing-s);
    background-color: var(--pink-dark);
    border-radius: var(--border-radius);

    h1 {
      margin: 0;
    }

    p {
      font-family: "Noto Sans Carian";
      font-size: var(--font-size-small);
    }

    &.answered {
      display: none;
    }
  }

}

