.userselection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.selectableuser {
  padding: var(--spacing-s);
  background-color: var(--pink-dark);
  border-radius: var(--border-radius);
  margin-top: var(--spacing);
  position: relative;

  &.isAllowed::before,  &.hasGivenPermission::after {
    content: "";
    position: absolute;
    top: 12px;
    right: var(--spacing);
    display: block;
    background: transparent url("../assets/icons/thumbs-up.svg") no-repeat center center;
    background-size: 35px;
    width: 35px;
    height: 35px;
  }

  &.hasGivenPermission.isAllowed::before {
    right: calc(3 * var(--spacing));
  }
}
